<%- include("partials/header") -%>

<div class="container d-flex justify-content-center mb-3 py-5">
  <h1 class="">THE WEATHER APP</h1>
</div>

<!-- Input container -->
<div class="container top-container pb-3 mb-4">
  <form action="/" method="post">

    <div class="input-group">

      <!-- City input -->
      <input type="text" class="form-control" name="cityInput" placeholder="City, Address" autocomplete="off" autofocus>

      <!-- Unit input -->
      <div class="input-group-append">
        <select id="mySelect" name="unitInput" class="browser-default custom-select" style="border-radius: 0; border-left: none;">
          <option <%= selector1 %> value="metric">Celsius, ° C</option>
          <option <%= selector2 %> value="imperial">Fahrenheit, ° F</option>
          <option <%= selector3 %> value="kelvin">Kelvin, ° K</option>
        </select>
        <button class="btn btn-primary" type="submit">Search</button>
      </div>

    </div>
  </form>
</div>

<!-- Render/content container -->
<div id="content-container" class="container-fluid mt-4 content <%= containerVis %>">

  <div class="row mx-5 justify-content-center">

    <!-- Today card -->
    <% if (daysList !== []) { %>
    <%- include("partials/today", {daysList: daysList}) %>
    <% } else { %>
    <% console.log("daysList empty!"); %>
    <% } %>

    <!-- All other days cards -->
    <% if (daysList !== []) { %>
    <% for (i = 1; i < 8; i++) { %>
    <%- include("partials/card") %>
    <% } %>
    <% } else { %>
    <% console.log("daysList empty!"); %>
    <% } %>

  </div> <!-- Top level row -->

</div> <!-- Top level container -->

<%- include("partials/footer") -%>
